article.tweet {
  margin: 2em 2em 1em 2em;
  border: 3px;
  border-color: #4056A1;
  border-style: solid;
  border-radius: 30px;
  transition: all .5s ease-in-out;
  z-index: 1;
}

article.tweet:hover {
  box-shadow: 5px 5px orange;
}

.tweet-card {
  min-width: 100%;
  padding: 1em 1em 1em 1em;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
}

.user-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

article.tweet .tweet-content {
  min-width: 100%;
  overflow-wrap: break-word;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  color: #4056A1;
  font-size: .75em;
}

article.tweet footer .tweet-card-icons i {
  padding: 5px;
}

article.tweet footer .tweet-card-icons i:hover {
  color: orange;
}

