
.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

article.tweet {
  display: flex;
  justify-content: center;
  width: 80%;
  border: 3px, ;
  border-color: #4056A1;
  border-radius: 30px;
  background-color: inherit;
  border-style: solid;
  margin-top: 2em;
  transition: all .5s ease-in-out;
}

article.tweet:hover { 
  transform: scale(1.1);
}
  

.tweet-card{
  padding: 1em 1em 1em 1em;
  min-width: 100%;
}


article.tweet header {
  display: flex;
  justify-content: space-between;
}

article.tweet .tweet-content {
  height: 90px;
  min-width: 100%;
  overflow-wrap: break-word;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  color: #4056A1;
  font-size: .75em;
}

article.tweet footer .tweet-card-icons i{
  padding: 5px;
}

article.tweet footer .tweet-card-icons i:hover{
  color: orange;
}