
header {
  display: flex;
  width: auto;
  height: 640px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EBFCFB;
  background-image: url(/images/church.png);
}