
#tweet-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: auto;
}


#tweet-text {
  width: 80%;
  margin: auto;
  border: 10px;
    background-color: inherit;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  font-weight: 500;
}

.new-tweet-submit {
  font-family: 'Bungee', sans-serif;
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.error {
  color: red;
  font-size: .5em;
  padding: 1em 1em 1em 1em;
}



