#tweet-text {
  border: 10px;
    background-color: inherit;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  font-weight: 500;
}

.new-tweet-submit {
  font-family: 'Bungee', sans-serif;
}

.error {
  color: red;
  font-size: .5em;
  padding: 1em 1em 1em 1em;
}



